extends layout

block content
  h1= title
  p I made the change over here #{title}
  button(type="button",class="btn btn-secondary" onclick="goFaster()") Press Me 
  div#faster 
   Increase the Speed.
  p Link for search results
    a(href='/vehicle') Search Results
  script.
    var mph = 20;
    var change = 1;
    function goFaster() {
        mph += change;
        change += 1;
        document.getElementById("faster").innerText = "MPH " + mph + " with change " + change;
      }