extends layout

block content
  h1= title

  .row
    each vehicle in results
      .col-3 
        ul
          li vehicle Brand: #{vehicle.Brand}
          li vehicle Color: #{vehicle.Color}
          li vehicle Year: #{vehicle.Year}