extends layout

block content
  h1= title

  form(id='vehicleForm', action="/resource/vehicle", method="POST")
    div.form-group
      label.vehicleAttr(for='Brand') vehicle Brand
      input.ATTR#Brand(type='text', name='Brand')

    div.form-group
      label.vehicleAttr(for='Color') vehicle Color
      input.ATTR#Color(type='text', name='Color')

    div.form-group
      label.vehicleAttr(for='Year') vehicle Year
      input.ATTR#Year(type='number', name='Year')

    input.SUBMIT(type="submit")

  script.
    document.forms['vehicleForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error);
      });
    });
