extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let vehicleid = toShow._id
    - let vehicleBrand = toShow.Brand
    - let vehicleColor = toShow.Color
    - let vehicleYear = toShow.Year

    div.row(class='mb-2')
      div.mr-1 ID is
      div #{vehicleid}

    - let actionid = "/resource/vehicle/" + vehicleid

    form(id='vehicleForm', action= actionid, method="PUT")
      div.form-group
        label.vehicleAttr(for='Brand') vehicle Brand
        input#Brand(type='text', name='Brand', value= vehicleBrand)

      div.form-group
        label.vehicleAttr(for='Color') vehicle Color
        input#Color(type='text', name='Color', value= vehicleColor)

      div.form-group
        label.vehicleAttr(for='Year') vehicle Year
        input#Year(type='number', name='Year', value= vehicleYear)

      input(type="submit")

    script.
      document.forms['vehicleForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed: " + error);
        });
      });
