body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.vehicleAttr {
  background-color: aquamarine;
  width: 120px;
  }
  

  
.form-group {
      font: 30px "Times New Roman", Times, serif;
      width: 420px;
      }

.vehicleAttr{
        padding: 20px 25px;
        font: 18px "Lucida Console", "Courier New", monospace;
        margin: 6px 0;
        box-sizing: border-box;
        background-color: rgb(120, 170, 4);
        border: none;
        color: rgb(230, 194, 15);
        padding: 8px 16px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
       }
.SUBMIT{
        box-sizing: content-box;
        background-color: #0452aa;
        border: none;
        color: rgb(16, 234, 49);
        padding: 14px 28px;
        text-decoration: none;
        margin: 2px 2px;
        cursor: pointer;
       }
.ATTR {
        padding: 12px 16px;
        border: 4px;
        border-radius: 2px;
        background-color: #9ebeee;
      }

    
   